body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	text-align: justify;
}

main {
	flex: 1 0 auto;
	padding-bottom: 45px
}

a {
	color: green;
}

.table-actions {
	text-align: right;
	padding-right: 35px;
}

.table-actions i:first-child {
	margin-right: 15px;
}

ul.messages-error,ul.messages-info {
	border-radius: 5px;
	list-style-type: inherit;
	padding: 10px 35px
}

ul.messages-error {
	background-color: red;
	border: 2px #b9151b solid;
}

ul.messages-info {
	background-color: #00b0ff;
	border: 2px #00acc1 solid;
}